In [2]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

In [3]:
import pandas as pd
from stratosphere import Stratosphere
from stratosphere.utils.inspect_flows import InspectFlows
from stratosphere import options
from stratosphere.services.extractor import Extractor
from stratosphere.storage.models import Flow

In [4]:
pd.options.display.max_rows = 10
pd.options.display.max_columns = 100
pd.options.display.max_colwidth = 100

In [13]:
kb = Stratosphere("sqlite:////shared/notebooks/data2.db")
kb

■ Stratosphere v0.0.1 (https://stratosphere.dev) initialized

In [5]:
kb = Stratosphere(options.get("db.url_kb"))

■ Stratosphere v0.0.1 (https://stratosphere.dev) initialized

In [14]:
df = kb.db.pandas("select type, data, json_extract(data, '$.full_name') as name_surname from entities")
df.head()

,type,data,name_surname
0,person,"{""id"": ""[\""68870871\""]""}",None
1,person,"{""user_ids"": ""[\""2083437\""]"", ""url_picture"": ""https://sun6-21.userapi.com/s/v1/ig2/wVIZNjZ9OW8En...",Oleg Kvitsinia

In [53]:
len(df)

2835

In [52]:
df = kb.db.pandas("select * from relationships")
df.head()

,relationship_id,group,type,src,dst,data,blob,timestamp
0,2cbb34ea576dbfe3c9dd1a7bc1ce5bca,vk.com,friend,8cfdfe5ca59f3a55d7ab1cd8553033ea,5801c74b1b7635d6dbcb0946e2bf4726,NaN,NaN,2023-04-08 21:27:42.594872
1,0796bf87dd477a260fc573e3c06d5671,vk.com,friend,8cfdfe5ca59f3a55d7ab1cd8553033ea,389eaa8b15330b691cea040ffb1de703,NaN,NaN,2023-04-08 21:27:42.594872
2,424d1be79f0731734968238e7d501300,vk.com,friend,8cfdfe5ca59f3a55d7ab1cd8553033ea,3b7cbab686c8a5ff7eb31bfbf3fbbbf3,NaN,NaN,2023-04-08 21:27:42.594872
3,fb3be2f40cf82c829493c89f737d617a,vk.com,friend,8cfdfe5ca59f3a55d7ab1cd8553033ea,bd2f67c2d046e1b2252058fc11e29666,NaN,NaN,2023-04-08 21:27:42.594872
4,78e412cf1a0e70b0854deeeb70968994,vk.com,friend,8cfdfe5ca59f3a55d7ab1cd8553033ea,45c26cad534913f18a8b6758dab1ac80,NaN,NaN,2023-04-08 21:27:42.594872

In [30]:
df.groupby('src').size()

src
389eaa8b15330b691cea040ffb1de703    794
8cfdfe5ca59f3a55d7ab1cd8553033ea    249
b031510499c4661b1e60a4c6b4b7b822    821
eb4e2880f7a969a7d7b5d10f70e56823    971
dtype: int64

In [33]:
df

,relationship_id,group,type,src,dst,data,blob,timestamp
0,2cbb34ea576dbfe3c9dd1a7bc1ce5bca,vk.com,friend,8cfdfe5ca59f3a55d7ab1cd8553033ea,5801c74b1b7635d6dbcb0946e2bf4726,NaN,NaN,2023-04-08 21:27:42.594872
1,0796bf87dd477a260fc573e3c06d5671,vk.com,friend,8cfdfe5ca59f3a55d7ab1cd8553033ea,389eaa8b15330b691cea040ffb1de703,NaN,NaN,2023-04-08 21:27:42.594872
2,424d1be79f0731734968238e7d501300,vk.com,friend,8cfdfe5ca59f3a55d7ab1cd8553033ea,3b7cbab686c8a5ff7eb31bfbf3fbbbf3,NaN,NaN,2023-04-08 21:27:42.594872
3,fb3be2f40cf82c829493c89f737d617a,vk.com,friend,8cfdfe5ca59f3a55d7ab1cd8553033ea,bd2f67c2d046e1b2252058fc11e29666,NaN,NaN,2023-04-08 21:27:42.594872
4,78e412cf1a0e70b0854deeeb70968994,vk.com,friend,8cfdfe5ca59f3a55d7ab1cd8553033ea,45c26cad534913f18a8b6758dab1ac80,NaN,NaN,2023-04-08 21:27:42.594872
...,...,...,...,...,...,...,...,...
2830,3302d5497ddcc0a585980d37a5f7769e,vk.com,friend,b031510499c4661b1e60a4c6b4b7b822,557e08a0480d1c4cf7c9d7bfbd30ed3b,NaN,NaN,2023-04-08 21:14:49.341511
2831,e6fc3817916b6ed7a359a8633d1d8d67,vk.com,friend,b031510499c4661b1e60a4c6b4b7b822,9200673aee52542c96530c214db28e06,NaN,NaN,2023-04-08 21:14:49.341511
2832,dad6e3590796c00c9d8e9469c9570c2c,vk.com,friend,b031510499c4661b1e60a4c6b4b7b822,ecca8db47d595c297bfd04e42c83141f,NaN,NaN,2023-04-08 21:14:49.341511
2833,271620e4ee4d7afd0f0c282df960784e,vk.com,friend,b031510499c4661b1e60a4c6b4b7b822,2354d4532b0dbbb34830348f4f96fa40,NaN,NaN,2023-04-08 21:14:49.341511
2834,84690eb453dc45182333ef7c723d3df0,vk.com,friend,b031510499c4661b1e60a4c6b4b7b822,ae43c59961952025af19ea0fed544698,NaN,NaN,2023-04-08 21:14:49.341511

In [40]:
df = kb.db.pandas("select data, json_extract(data, '$.name_surname') as name_surname from entities")
df

,data,name_surname
0,"{""id"": ""68870871""}",None
1,"{""id"": 2083437, ""url_picture"": ""https://sun6-21.userapi.com/s/v1/ig2/wVIZNjZ9OW8Enoaz03ibkL2rlvO...",Oleg Kvitsinia
2,"{""id"": 2460541, ""url_picture"": ""https://sun6-22.userapi.com/s/v1/if1/p-wnQCT8yyYYODKTUPKV_MPB-WN...",Alexander Ponomarev
3,"{""id"": 3190606, ""url_picture"": ""https://sun6-22.userapi.com/s/v1/ig2/FobApx7Z3PPVwBOzpLiLLd-w9jR...",Roman Kiryunov
4,"{""id"": 3522545, ""url_picture"": ""https://sun6-20.userapi.com/s/v1/ig2/zdg9xpSxOE0KYWk8owrb9Yvizy6...",Konstantin Konorev
...,...,...
2806,"{""id"": 709236107, ""url_picture"": ""https://sun6-22.userapi.com/s/v1/ig2/BU-YLgx2GnPkQ9mlRChHzTSni...",Neon Print
2807,"{""id"": 709571845, ""url_picture"": ""https://sun6-21.userapi.com/s/v1/ig2/YezZIA1rmUlwNcuUR1aGrbX1V...",Elena Gvozdilina
2808,"{""id"": 747224980, ""url_picture"": ""https://sun6-20.userapi.com/s/v1/ig2/zWw-EtSsCr9ZqEQyXGleouu89...",Kurskaya Filarmonia
2809,"{""id"": 749026519, ""url_picture"": ""https://sun6-23.userapi.com/s/v1/ig2/-wpNLpZtI7ZjwIgADEB030JDO...",&#45796;&#49380; &#48708;&#45768;&#50864;&#53076;&#48148;
2810,"{""id"": 766081532, ""url_picture"": ""https://sun6-21.userapi.com/s/v1/ig2/PizPH5jJRjQkWjShIsC_13q5t...",Dmitry Arkhipov